
<div>
        {% include head.html %}
        <div class="home-title">
          <h2>Checkout in 4 steps </h2>
        </div>
      <div class="flexslider">
          <ul class="slides">
              <li>
                  <p class="caption">Step 1 - Checkin the customer</p>
                    <img src="/assets/img/checkin.png">
              </li>
               <li>
                   <p class="caption">Step 2 - Payment Menu</p>
                    <img src="/assets/img/checkout/payment_methods.png">
              </li>
              <li>
                    <p class="caption">Step 3 - Process the payment</p>
                    <img src="/assets/img/process.png">
              </li>
              <li>
                    <p class="caption">Step 4 - Done deal!</p>
                    <img src="/assets/img/payment-ok.png">

              </li>
          </ul>
      </div>
      <p style="text-align: center"><a href="{{ site.url }}/">See All Posts</a></p>
    </div>
